<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
  <h4 class="text-center">本当に退会しますか？</h4>
  <p class="text-center">
    退会すると、プロフィールや<br>
    これまで投稿した映画一覧の閲覧ができなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。</p>

<div class="row">
  <div class="col-lg-md">
    <%=link_to "退会しない", mypage_path, class: "btn btn-sm btn-primary" %>
  </div>
  <div class="col-md">
    <%=link_to "退会する",  customers_withdraw_path, method: :patch, class: "btn btn-sm btn-danger" %>
  </div>
</div>