<div class="main-visual">
  <div class="main-visual-content">
    <h2 class="main-visual-text">
      あなたにあった
    </h2>
    <h2 class="main-visual-text">
      映画と出会える
    </h2>      
  </div>
</div>

<div class="d-flex flex-row">
  <div class="p-5">
    <h2 class="text"><strong>NEW</strong></h2>
  </div>
</div>
