/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item:hover {
  background-color: #BB0000;
}

/*詳細ページ*/
.comment-message {
  margin-left: 170px;
}

/*ページネーション自体のデザイン*/
.pagination {
  justify-content: center;
  margin-top: 50px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

/*フラッシュメッセージ*/
.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  color: #00CC00;
  border: solid 1px #00CC00;
}

.flash-message.alert {
  color: #930403;
  border: solid 1px #930403;
}

.object-fit-contain {
  object-fit: contain;
}

/*検索窓*/
.search-box {
  display: flex;
  width: 100%;
}

.search-box input[type="text"] {
  flex-grow: 1;
  padding: 0.7rem 0 0.7rem 0.8rem;
  border: 1px solid #333947;
  border-radius: 1.5rem 0 0 1.5rem;
}

.search-box button {
  cursor: pointer;
  padding: .8rem .9rem .8rem .8rem;
  border-radius: 0 1.5rem 1.5rem 0;
  border: none;
  background-color: #333947;
  color: #fff;
  font-size: .75rem;
}

.search-box input:focus {
  outline: 0;
  border: 1px solid #4ab6f6;
}

.search-box button:hover {
  color: #4ab6f6;
}


/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .category {
    margin-left: 50%;
    transform: translate(-50%, -50%); /*要素自体のサイズを考慮して中央に配置 */
  }

  .search-box {
    margin-left: 50%;
    transform: translate(-40%, -50%); /*要素自体のサイズを考慮して中央に配置 */
  }

  .boards_searchForm {
    margin-left: 40%;
    transform: translate(-50%, -170%); /*要素自体のサイズを考慮して中央に配置 */
  }

/*一覧ページ*/
  .card-body .col-2 img {
    width: 60px;
    height: auto; /* 高さを自動に設定 */
  }

  .card-body .col-10 .card-title {
    margin-left: 30%; /* サイズを適切な値に変更してください */
  }

  .card-body .col-10 .card-text {
    margin-left: 30%; /* サイズを適切な値に変更してください */
  }

  /*詳細ページ*/
  .card-body .col-2 img {
    width: 60px;
    height: auto; /* 高さを自動に設定 */
  }

  .card-body .col-9 {
    margin-left: 8%; /* サイズを適切な値に変更してください */
  }

  .card-body .col-9 .card-title {
    margin-left: 30%; /* サイズを適切な値に変更してください */
  }

  .card-body .col-9 .card-text {
    margin-left: 30%; /* サイズを適切な値に変更してください */
  }

  .comment-message {
    margin-left: 5%;
  }
}